# 精简版运行时配置文件
name : LPC_TEST
mudlib directory : .
log directory : /log
include directories : /include
master file : /system/kernel/master
simulated efun file : /system/kernel/simul_efun
global include file : <globals.h>
debug log file : debug.log
external_port_1 : telnet 4004
external_port_2 : websocket 80
# external_port_3 : websocket 443
# external_port_3_tls : cert=cert.crt key=cert.key
websocket http dir : www
default fail message : [35m指令错误，请输入 help 查看游戏帮助。[0m
default error message : [31m你发现事情不大对了，但是又说不上来。[0m
# External commands(100 external cmds are supported)
external_cmd_1 : /usr/bin/curl
external_cmd_2 : C:\ProgramData\chocolatey\bin\curl.exe
